<template>
  <v-container class="justify-center">
    <v-layout row wrap>
      <v-flex xs4 class="mx-lg-auto">
        <img src="../assets/logo.png" width="390px" height="390px">
      </v-flex>
      <v-flex xs12 class="pa-md-4 mx-lg-auto">
        <h1 class="text-center">Hola Mundo</h1>
      </v-flex>
    </v-layout>
    <v-footer
      dark
      padless
    >
      <v-card
        class="flex"
        flat
        tile
      >
        <v-card-title class="teal justify-center">
          <strong class="subheading">Angel Samuel Flores Garcia</strong>
        </v-card-title>

        <v-card-text class="py-2 white--text text-center">
          {{ new Date().getFullYear() }} — <strong>Vuetify</strong>
        </v-card-text>
      </v-card>
    </v-footer>
  </v-container>
</template>

<script>
  export default {
    
  }
</script>
